/****************************************** TAG Selectors ***************************************************/


h1{
    text-align: center;
    text-shadow: 12rem;
    
}
/*
img{
   background-color: aqua;
}
*/

/****************************************** Class Selectors ***************************************************/
.chicken{
    background-color: red;
}

.broccoli{
    background-color: green;
}